@{
    ViewData["Title"] = "Tutorial";
}

<h1>Tutorial</h1>
<p>En este juego de sala de escape, tu objetivo es resolver una serie de puzzles en diferentes habitaciones de la nave espacial Nostromo para poder avanzar y finalmente escapar.</p>

<h2>Breve Reseña</h2>
<p>La Nostromo es una nave espacial que ha sido infestada por una criatura alienígena letal. Eres parte de un equipo de rescate enviado a investigar qué sucedió con la tripulación. Tendrás que resolver puzzles en cada habitación para avanzar a la siguiente y eventualmente encontrar una manera de destruir a la criatura y escapar.</p>

<h2>Habitaciones</h2>

<h3>Sala de Control</h3>
<p>Descripción: La sala de control está llena de terminales, pantallas parpadeantes y mapas estelares. La iluminación es tenue y el ambiente está impregnado de una sensación de peligro inminente.</p>
<p>Objetivo: Reactivar los sistemas principales de la nave para acceder a las otras áreas.</p>
<p>Juegos y Puzzles: Hackeo de Terminal y Decodificación de un mensaje en código Morse.</p>
<img src="~/imagenes/SalaControl.jpg"/>

<h3>Sala de Mantenimiento</h3>
<p>Descripción: Una sala llena de herramientas, cajas de suministros y paneles eléctricos. El aire está pesado con el olor a metal y aceite.</p>
<p>Objetivo: Reparar un conducto de ventilación para avanzar al laboratorio médico.</p>
<p>Juegos y Puzzles: Encontrar el código numérico para abrir una caja de herramientas.</p>
<img src="~/imagenes/SalaMantenimiento.jpg"/>

<h3>Laboratorio Médico</h3>
<p>Descripción: La habitación está equipada con camillas, monitores médicos y varios frascos de productos químicos. Hay manchas de sangre y signos de lucha por todas partes.</p>
<p>Objetivo: Descubrir la debilidad del alien y encontrar el antídoto para cualquier posible infección.</p>
<p>Juegos y Puzzles: Adivinar el nombre del jugador de fútbol favorito del alien para obtener el antídoto.</p>
<img src="~/imagenes/LaboMedico.jpg"/>

<h3>Sala de Motores</h3>
<p>Descripción: La sala está llena de maquinaria pesada, tuberías de alta presión y paneles de control del motor. El ruido de las máquinas crea un ambiente tenso y opresivo.</p>
<p>Objetivo: Preparar los motores para la autodestrucción de la nave y asegurar una vía de escape segura.</p>
<p>Juegos y Puzzles: Resolver un juego de luces de colores (SIMON) para activar la autodestrucción.</p>
<img src="~/imagenes/SalaMotor.jpg"/>
