@{
    ViewBag.Title = "Victoria - Atrapados en la Nostromo";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Victoria!</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
<style>
body{
    background-image: url("../../imagenes/Imagen6.png");
}
</style>
    <div id="victory" class="room active">
        <h2>¡Has escapado!</h2>
        <p>Has logrado escapar de la Nostromo justo a tiempo.</p>
        <div class="video-container">
            <iframe width="620" height="348.75" src="https://www.youtube.com/embed/5S5zda8wssQ?si=CKVGzMseeJqmVa6v" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</body>
</html>


